{% extends 'base_data.html' %}
{% block header_text %}To-Do Lists {% endblock %}
{% block form_action %}{% url 'new_list_form' %}{% endblock %}
{% block form_action_name %}list_name{% endblock %}
{% block form_action_id %}id_new_list{% endblock %}
{% block form_action_text %}Add new To-Do List{% endblock %}
{% block table %}
    <div id="id_list_overview_table">
        <table class="table">
            <tr><th colspan="2">To-Do Lists</th></tr>
            {% for list in lists %}
            <tr><td>{{ list.name }}</td>
                <td><a id='link_lists_{{ list.id }}' 
                       href="{% url 'view_list' list.id %}"><span class="glyphicon
                             glyphicon-chevron-right"></a>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
