{% extends 'base.html' %}
{% block header_text %}Start a new To-Do list {% endblock %}
{% block form_action %}/lists/new{% endblock %}
{% block form_action_name %}list_name{% endblock %}
{% block form_action_id %}id_new_list{% endblock %}
{% block form_action_text %}"Enter a new to-do list"{% endblock %}
{% block table %}
    <div id="id_list_overview_table">
        <table class="table-condensed">
            <tr><td colspan="2"><h2>To-Do Lists</h2></td></tr>
            {% for list in lists %}
            <tr><td>{{ list.name }}</td>
                <td><a id='link_lists_{{ list.id }}' 
                       href="{% url 'view_list' list.id %}"><span class="glyphicon
                             glyphicon-chevron-right"></a>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
