{% extends 'base.html' %}
{% block header_text %}Your To-Do list {% endblock %}
{% block form_action %}/lists/{{ list.id }}/add_item{% endblock %}
{% block table %}
    <table id='id_list_table' class="table">
        {% for item in list.item_set.all %}
        <tr><td>{{ forloop.counter }}: {{ item.text }}</td>
            <td id='id_item_{{ forloop.counter }}_state'>{{item.state_text }}</td>
            {% if item.state < 3 %}
             <td> <a id='id_item_{{ forloop.counter }}_state_up' 
              href="{% url 'state_up' list.id item.id %}">Up</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
