{% extends 'base_data.html' %}
{% block header_text %}{{ list.name }}{% endblock %}
{% block form_action %}{% url 'add_item' list.id %}{% endblock %}
{% block form_action_name %}item_text{% endblock %}
{% block form_action_id %}id_new_item{% endblock %}
{% block form_action_text %}Enter a to-do item{% endblock %}

{% block table %}
    <div id='id_list_table' class="container">
        {% for state_text, item_selection in filtered_items.items %}
        {% with state_id=forloop.counter %}
        <div class="col-lg-2">
            <h2>{{ state_text }}</h2>
            {% for item in item_selection %}
            <div class="item_box">
            <table class="table-condensed">
            <tr><td colspan="3">{{ item.text }}</td>
            </tr><tr>
                <td colspan="3" id='id_item_{{ forloop.counter }}_{{ state_id }}_state'>{{item.state_text }}</td>
            </tr><tr>
            {% if item.state > 1 %}
            <td> <a id='id_item_{{ forloop.counter }}_{{ state_id }}_state_down' 
              href="{% url 'state_down' list.id item.id %}"><span
                  class="glyphicon glyphicon-chevron-left"></span></a></td>
            {% else %}
            <td></td>
            {% endif %}
            {% if item.state != 0 %}
            <td> <a id='id_item_{{ forloop.counter }}_{{ state_id }}_delete_item' 
              href="{% url 'delete_item' list.id item.id %}"><span
                  class="glyphicon glyphicon-remove"></span></a></td>
            {% else %}
            <td></td>
            {% endif %}
            {% if item.state < 3 %}
             <td> <a id='id_item_{{ forloop.counter }}_{{ state_id }}_state_up' 
                     href="{% url 'state_up' list.id item.id %}">
                  <span class="glyphicon glyphicon-chevron-right"></span></a></td>
            {% else %}
            <td></td>
            {% endif %}
            </tr>
            </table>
            </div>
            {% endfor %}
        </div>
        {% endwith %}
        {% endfor %}
    </div>
{% endblock %}
